
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DemoThuctapTotNghiep.Models.modeNhanVien>
@{
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/CSSS/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/CSSS/assets/css/style.css">
</head>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" href="/ADMIN/NhanVien/Create" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới nhân viên
                        </a>
                    </div>

                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                        <thead>
                            <tr role="row">
                                <th>
                                    ID nhân viên
                                </th>
                                <th>
                                    Họ tên
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Số CMND
                                </th>
                                <th>
                                    Giới tính
                                </th>
                                <th>
                                    Bằng cấp
                                </th>
                                <th>
                                    Chức vụ
                                </th>
                                <th>
                                    Tình trạng hôn nhân
                                </th>
                                <th> Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDNhanVien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        <img class="img-card-person" src="@item.HinhAnh" />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoCMND)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GioiTinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BangCap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TRHonNhan)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.IDNhanVien }, new { @class = "fas fa-edit", @title = "Sửa" }) |

                                        @Html.ActionLink(" ", "Delete", new { id = item.IDNhanVien }, new { @class = "fas fa-trash-alt", @title = "Xóa" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="shop_toolbar t_bottom">
                <div class="pagination">

                    @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang }))

                </div>
            </div>
        </div>
    </div>
</div>




