
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList < DemoThuctapTotNghiep.Models.modeSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/CSSS/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/CSSS/assets/css/style.css">
</head>
<style>
    .p_tt {
        display: -webkit-box;
        max-height: 3.2rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-height: 1.6rem;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" href="/ADMIN/SanPham/Create" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới sản phẩm
                        </a>
                    </div>

                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                        <thead>
                            <tr>
                                <th>
                                    Mã Sản phẩm
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Tình trạng
                                </th>
                                <th>
                                    Loại sản phẩm
                                </th>
                                <th>
                                    Nhà cung cấp
                                </th>
                                <th>
                                    Giá bán
                                </th>
                                <th>
                                    Giá vốn
                                </th>
                                <th>
                                    Thông tin sản phẩm
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th> Chức năng</th>
                            </tr>

                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaSP)
                                    </td>
                                    <td>
                                        <p class="p_tt">@item.TenSP</p>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrinhTrangSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DanhMucSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NhaCungCap)
                                    </td>
                                    <td>
                                        @item.GiaBan.ToString("#,###") Đ
                                    </td>
                                    <td>
                                        @item.GiaVon.ToString("#,###") Đ
                                    </td>
                                    <td>
                                        <p class="p_tt">@item.MoTaSP</p>
                                    </td>
                                    <td>
                                        <img class="img-card-person" src="@item.HinhAnh" />
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.MaSP }, new { @class = "fas fa-edit", @title = "Sửa" }) |

                                        @Html.ActionLink(" ", "Delete", new { id = item.MaSP }, new { @class = "fas fa-trash-alt", @title = "Xóa" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="shop_toolbar t_bottom">
                <div class="pagination">

                    @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang }))

                </div>
            </div>  
    
</div>


